/* <!-- principal inicio --> */
.principal {
    width: 100%;
    display: flex;
    background: url('../img/keepCoding-editado.jpg') no-repeat center;
    background-color: #0F0F0F;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.principal .max-width {
    margin: auto 0 auto 40px;
}

.principal .max-width .principal__conteudo .texto-1 {
    font-size: 27px;
}

.principal .max-width .principal__conteudo .texto-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.principal .principal__conteudo .texto-3 {
    font-size: 40px;
    margin: 5px 0;
}

.principal .principal__conteudo .texto-3 span {
    /* color: var(--azul); */
    font-weight: 500;
    background: -webkit-linear-gradient(333deg, rgba(2, 32, 20, 1) 1%, rgb(0, 140, 255) 99%);
    background: linear-gradient(333deg, rgb(0, 5, 3) 1%, rgba(0, 140, 255) 70%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.principal .principal__conteudo .principal__botao a {
    display: inline-block;
    background: var(--azul);
    color: var(--branco);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--azul);
}

.principal .principal__conteudo a:hover {
    color: var(--azul);
    background: none;
}

.principal__botao a {
    position: absolute;
    background: inherit;
    border-radius: inherit;
    animation: pulseAnimate 1s ease-out infinite;
}

@keyframes pulseAnimate {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #03e8f8;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


@media(max-width: 925px) {
    .principal .principal__conteudo .text-2 {
        font-size: 60px;
    }

    .principal .principal__conteudo .text-3 {
        font-size: 32px;
    }

    .principal .principal__conteudo a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .principal .principal__conteudo .texto-3 span {
        background: -webkit-linear-gradient(333deg, rgb(2, 2, 32) 1%, rgb(0, 140, 255) 99%);
        background: linear-gradient(333deg, rgb(32, 0, 175) 1%, rgba(0, 140, 255) 70%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 690px) {
    .principal {
        background-position: top;
    }

    .principal .max-width .principal__conteudo .text-2 {
        font-size: 60px;
    }

    .principal .max-width .principal__conteudo .text-2 {
        font-size: 32px;
    }

    .principal .principal__conteudo a {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .principal {
        background-position: 10%;
    }

    .principal .max-width .principal__conteudo .text-2 {
        font-size: 50px;
    }

    .principal .max-width .principal__conteudo .text-2 {
        font-size: 27px;
    }


}