/* sessão sobre */
.sobre .titulo::before {
    background: #111;
    width: 400px;
}

.sobre .titulo::after {
    content: "Quem sou eu";

}

.sobre .sobre-conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-conteudo .colum-left {
    width: 45%;
}

.sobre .sobre-conteudo .coluna_direita {
    width: 55%;
}

.sobre .sobre-conteudo .coluna_direita .texto {
    /* font-family: var(--fonte-principal); */
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sobre .sobre-conteudo .coluna_direita .texto span {
    color: var(--azul);
}

.sobre .sobre-conteudo .coluna_direita .texto p {
    text-align: justify;
}

.sobre .max-width .sobre-conteudo .coluna_direita a {
    display: inline-block;
    background: var(--azul);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.sobre .max-width .sobre-conteudo .coluna_direita a:hover {
    border: 2px solid var(--azul);
    color: var(--azul);
    background: none;
}

.my-foto {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
}

#gitHubIcon {
    background-color: #222;
    font-size: 20px;
}


@media (max-width: 1104px) {
    .my-foto {
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 925px) {

    .sobre .sobre-conteudo .coluna_direita {
        width: 60%;
    }

    .sobre .sobre-conteudo .coluna_direita {
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .sobre .sobre-conteudo .coluna_direita {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .sobre .titulo::after {
        width: 150px;
    }

    .sobre .max-width .sobre-conteudo .coluna_direita a {
        display: flex;
        justify-content: center !important;
        padding: auto;
    }

    .sobre .max-width .sobre-conteudo .coluna_direita ion-icon {
        margin: 4px 8px 0;
    }

    .sobre .sobre-conteudo .coluna_direita {
        width: 50%;
    }

    .sobre .sobre-conteudo .colum-left {
        width: 50%;
    }

}