/* seção serviços */

.servicos {
    background: #111;
    color: #fff;

}

.servicos .titulo::before {
    background: #fff;
    width: 400px;
}

.servicos .titulo::after {
    background: #111;
    content: "Que faço/estudo";
}


.servicos .servicos-conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.servicos .max-width .servicos-conteudo .card1,
.servicos .max-width .servicos-conteudo .card2,
.servicos .max-width .servicos-conteudo .card3,
.servicos .max-width .servicos-conteudo .card4,
.servicos .max-width .servicos-conteudo .card5,
.servicos .max-width .servicos-conteudo .card6 {
    width: calc(33% - 20px);
    background: var(--azul-degrade);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all .5s ease;
    margin: .5em;
}

.servicos .max-width .servicos-conteudo .card1:hover,
.servicos .max-width .servicos-conteudo .card2:hover,
.servicos .max-width .servicos-conteudo .card3:hover,
.servicos .max-width .servicos-conteudo .card4:hover,
.servicos .max-width .servicos-conteudo .card5:hover,
.servicos .max-width .servicos-conteudo .card6:hover {
    background: var(--branco);
    color: #111;
}

.servicos .max-width .servicos-conteudo .card1 .box,
.servicos .max-width .servicos-conteudo .card2 .box,
.servicos .max-width .servicos-conteudo .card3 .box,
.servicos .max-width .servicos-conteudo .card4 .box,
.servicos .max-width .servicos-conteudo .card5 .box,
.servicos .max-width .servicos-conteudo .card6 .box {
    transition: all 0.4s ease;
}

.servicos .max-width .servicos-conteudo .card1:hover .box,
.servicos .max-width .servicos-conteudo .card2:hover .box,
.servicos .max-width .servicos-conteudo .card3:hover .box,
.servicos .max-width .servicos-conteudo .card4:hover .box,
.servicos .max-width .servicos-conteudo .card5:hover .box,
.servicos .max-width .servicos-conteudo .card6:hover .box {
    transform: 0.3s;
    transform: scale(1.05);
}

.servicos .max-width .servicos-conteudo .card1 ion-icon,
.servicos .max-width .servicos-conteudo .card2 ion-icon,
.servicos .max-width .servicos-conteudo .card3 ion-icon,
.servicos .max-width .servicos-conteudo .card4 ion-icon,
.servicos .max-width .servicos-conteudo .card5 i,
.servicos .max-width .servicos-conteudo .card6 ion-icon {
    font-size: 40px;
    color: var(--branco);
}

.fa-java {
    font-size: 40px;
    color: var(--branco);
}

.servicos .max-width .servicos-conteudo .card1 .text,
.servicos .max-width .servicos-conteudo .card2 .text,
.servicos .max-width .servicos-conteudo .card3 .text,
.servicos .max-width .servicos-conteudo .card4 .text,
.servicos .max-width .servicos-conteudo .card5 .text,
.servicos .max-width .servicos-conteudo .card6 .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 px 0;
}

.servicos .max-width .servicos-conteudo .card1:hover ion-icon {
    color: #2862e9;
    font-size: 40px;
}

.servicos .max-width .servicos-conteudo .card2:hover ion-icon {
    color: #E96228;
    font-size: 40px;
}

.servicos .max-width .servicos-conteudo .card3:hover ion-icon {
    color: #FFFF00;
    font-size: 40px;
}

.servicos .max-width .servicos-conteudo .card4:hover ion-icon {
    color: #D6002F;
    font-size: 40px;
}

.servicos .max-width .servicos-conteudo .card5:hover i {
    color: #fd9002;
    font-size: 40px;
}

.servicos .max-width .servicos-conteudo .card6:hover ion-icon {
    color: #addb04;
    font-size: 40px;
}



@media(max-width: 925px) {

    .servicos .max-width .servicos-conteudo .card1,
    .servicos .max-width .servicos-conteudo .card2,
    .servicos .max-width .servicos-conteudo .card3,
    .servicos .max-width .servicos-conteudo .card4,
    .servicos .max-width .servicos-conteudo .card5,
    .servicos .max-width .servicos-conteudo .card6 {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {

    .servicos .max-width .servicos-conteudo .card1,
    .servicos .max-width .servicos-conteudo .card2,
    .servicos .max-width .servicos-conteudo .card3,
    .servicos .max-width .servicos-conteudo .card4,
    .servicos .max-width .servicos-conteudo .card5,
    .servicos .max-width .servicos-conteudo .card6 {
        width: 100%;
    }
}